{% extends 'admin/index.html.twig' %}

{% block title %}New Tire Product{% endblock %}

{% block content_header %}Add new tire product{% endblock %}

{% block content %}
    <div class="row pt-3">

        <div class="col-12">
            <div class="card text-dark border-dark mb-3 bg-light shadow">

                <div class="card-header">
                    <i class="bi bi-plus-square mr-2"></i>
                    ADD NEW PRODUCT
                </div>

                <div class="card-body">
                    {{ form(productForm) }}
                </div>

            </div>
        </div>

    </div>
{% endblock %}